services:
  open-webui:
    environment:
      # https://docs.openwebui.com/getting-started/advanced-topics/env-configuration
      WEBUI_AUTH: True
      ENABLE_FORWARD_USER_INFO_HEADERS: True
      ENABLE_FORWARD_OAUTH_TOKEN: True
      # Authentication settings (https://docs.openwebui.com/features/sso#oidc)
      ENABLE_SIGNUP: True
      OAUTH_CLIENT_ID: "bwell-client-id"
      OPENID_PROVIDER_URL: "http://keycloak:8080/realms/bwell-realm/.well-known/openid-configuration"
      OAUTH_CLIENT_SECRET: "bwell-secret"
      ENABLE_OAUTH_SIGNUP: True
      OAUTH_PROVIDER_NAME: "keycloak"
      OAUTH_SCOPES: "openid email"
      OAUTH_USERNAME_CLAIM: "username"
      # identify a user's unique ID (sub) from the OAuth/OIDC provider's user info response
      OAUTH_SUB_CLAIM: "username"
      WEBUI_URL: "https://open-webui.localhost"
      # redirect on logout
      WEBUI_AUTH_SIGNOUT_REDIRECT_URL: "https://open-webui.localhost"
      # Sets the JWT expiration time in seconds. Valid time units: s, m, h, d, w or -1 for no expiration
      JWT_EXPIRES_IN: "1h"
      # Use the settings below to simulate Aiden in services environment
#      OAUTH_CLIENT_ID: "0oakho3xcj8GKejBr697"
#      OPENID_PROVIDER_URL: "https://icanbwell.okta.com/.well-known/openid-configuration"
#      OAUTH_CLIENT_SECRET: ${OAUTH_CLIENT_SECRET}
#      ENABLE_OAUTH_SIGNUP: True
#      OAUTH_PROVIDER_NAME: "Okta"
#      OAUTH_SCOPES: "openid email profile groups"
#      OAUTH_USERNAME_CLAIM: "email"
#    env_file: docker.env