services:
  fhir:
    depends_on:
      mongo:
        condition: service_healthy
      keycloak:
        condition: service_healthy
      keycloak-init:
        condition: service_completed_successfully
    image: imranq2/node-fhir-server-mongo:5.12.40
    # To use local fhir code, comment above line and uncomment below
    #    build:
    #      dockerfile: Dockerfile
    #      context: ../fhir-server
    #      args:
    #        NODE_ENV: development
    #    volumes:
    #      - ../fhir-server/src:/srv/src/src
    #      - ../fhir-server/package.json:/srv/src/package.json
    #      - ../fhir-server/yarn.lock:/srv/src/yarn.lock
    environment:
      SHUTDOWN_DELAY_MS: 1000
      SERVER_PORT: 3000
      MONGO_DB_NAME: fhir
      MONGO_URL: 'mongodb://mongo:27017?appName=fhir-server'
      MONGO_USERNAME: root
      MONGO_PASSWORD: "test123"  # pragma: allowlist secret
      RESOURCE_SERVER: http://localhost:3000/
      AUTH_SERVER_URI: http://myauthzserver.com
      AUTH_CONFIGURATION_URI: http://keycloak:8080/realms/bwell-realm/.well-known/openid-configuration
      AUTH_JWKS_URL: http://keycloak:8080/realms/bwell-realm/protocol/openid-connect/certs
      AUTH_CODE_FLOW_URL: http://keycloak:8080/realms/bwell-realm/protocol/openid-connect/auth
      MAX_INDEX_NAME_LENGTH: 65
      ENV: local
      ENVIRONMENT: local
      ENABLE_MONGO_PROJECTIONS_IN_GRAPHQL: 0
      ENABLE_MONGO_PROJECTIONS_IN_GRAPHQLV2: 0
      MONGO_TIMEOUT: 30000
      LOGLEVEL: 'INFO'
      ENABLE_GRAPHQL: 1
      NODE_ENV: 'development'
      EXTERNAL_AUTH_JWKS_URLS: ''
      EXTERNAL_AUTH_WELL_KNOWN_URLS: ''
      SET_INDEX_HINTS: 0
      CREATE_INDEX_ON_COLLECTION_CREATION: 1
      RETURN_BUNDLE: '1'
      USE_TWO_STEP_SEARCH_OPTIMIZATION: '0'
      LOG_EXCLUDE_RESOURCES: 'Person,Patient'
      STREAM_RESPONSE: '1'
      LOG_STREAM_STEPS: '0'
      ENABLE_EVENTS_KAFKA: '0'
      ENABLE_BULK_EXPORT_KAFKA_EVENTS: '0'
      ENABLE_FHIR_OPERATION_USAGE_KAFKA_EVENTS: 0
      ENABLE_KAFKA_HEALTHCHECK: '0'
      KAFKA_CLIENT_ID: 'fhir-server'
      KAFKA_URLS: 'kafka:9092'
      KAFKA_MAX_RETRY: 3
      AUTH_CUSTOM_USERNAME: "cognito:username,preferred_username"
      AUTH_CUSTOM_GROUP: "cognito:groups,groups"
      AUTH_CUSTOM_SCOPE: "custom:scope"
      AUTH_REMOVE_SCOPE_PREFIX: "fhir/dev/"
      VALIDATE_SCHEMA: "1"
      PERSON_MATCHING_SERVICE_URL: ""
      WHITELIST: "http://localhost:5051"
      GRIDFS_RESOURCES: "DocumentReference"
      ENABLE_ACCESS_TAG_UPDATE: '0'
      ENABLE_GRAPHQL_PLAYGROUND: '1'
      ENABLE_GRAPHQLV2_PLAYGROUND: '1'
      ENABLE_GRAPHQLV2: '1'
      ENABLE_CONSENTED_PROA_DATA_ACCESS: '1'
      ENABLE_HIE_TREATMENT_RELATED_DATA_ACCESS: '1'
      # FHIR_VALIDATION_URL: 'http://hapi-fhir-server:8080/fhir'
      ENABLE_STATS_ENDPOINT: '1'
      FHIR_SERVER_UI_URL: 'http://localhost:5051'
      REDIRECT_TO_NEW_UI: '1'
      KAFKAJS_NO_PARTITIONER_WARNING: '1'
      ENABLE_BULK_EXPORT: '1'
      ENABLE_MEMORY_CHECK: '1'
      CONTAINER_MEM_REQUEST: 1000000000
      NO_OF_REQUESTS_PER_POD: 10
      ENABLE_VULCAN_IG_QUERY: 'true'
      REQUIRED_AUDIT_EVENT_FILTERS: 'date'
      CLIENTS_WITH_DATA_CONNECTION_VIEW_CONTROL: 'client'
      PRE_SAVE_CODING_ID_UPDATE_RESOURCES: 'Binary,Observation'
      ENABLE_SWAGGER_DOC: 1
      HOST_SERVER: "http://localhost:3000"
    ports:
      - '3000:3000'
    command: yarn run dev
    healthcheck:
      test: [ 'CMD-SHELL', 'wget --spider --quiet localhost:3000/health || exit 1' ]
    networks:
      - web

networks:
  web:
    external: true
    name: language-model-gateway_web