name: Deploy to DockerHub

on:
  release:
    types: [created]
  workflow_dispatch:

env:
  IMAGE_NAME: language_model_gateway
  REPOSITORY_URL: icanbwell
jobs:
  build-amd64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push amd64 Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64
          target: production
          push: true
          tags: |
            ${{ env.REPOSITORY_URL }}/${{ env.IMAGE_NAME }}:${{ github.event.release.tag_name }}-amd64
            ${{ env.REPOSITORY_URL }}/${{ env.IMAGE_NAME }}:latest-amd64
  build-arm64:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push arm64 Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          platforms: linux/arm64
          target: production
          push: true
          tags: |
            ${{ env.REPOSITORY_URL }}/${{ env.IMAGE_NAME }}:${{ github.event.release.tag_name }}-arm64
            ${{ env.REPOSITORY_URL }}/${{ env.IMAGE_NAME }}:latest-arm64

  manifest:
    needs: [build-amd64, build-arm64]
    runs-on: ubuntu-latest
    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Set manifest tag variable
        run: |
          if [ -n "${{ github.event.release.tag_name }}" ]; then
            echo "TAG=${{ github.event.release.tag_name }}" >> $GITHUB_ENV
          else
            echo "TAG=${{ github.sha }}" >> $GITHUB_ENV
          fi
      - name: Create and push multi-arch manifest
        run: |
          docker buildx imagetools create -t ${{ env.REPOSITORY_URL }}/${{ env.IMAGE_NAME }}:$TAG \
            ${{ env.REPOSITORY_URL }}/${{ env.IMAGE_NAME }}:$TAG-amd64 \
            ${{ env.REPOSITORY_URL }}/${{ env.IMAGE_NAME }}:$TAG-arm64
          
          docker buildx imagetools create -t ${{ env.REPOSITORY_URL }}/${{ env.IMAGE_NAME }}:latest \
            ${{ env.REPOSITORY_URL }}/${{ env.IMAGE_NAME }}:latest-amd64 \
            ${{ env.REPOSITORY_URL }}/${{ env.IMAGE_NAME }}:latest-arm64